<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    <!--注入exception的描述信息-->
    <bean id="exceptionProperties" class="org.jfteam.framework.holder.PropertyHolderConfigurer">
        <property name="fileEncoding" value="UTF-8"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="location" value="classpath:properties/exception.properties"/>
    </bean>

    <beans profile="dev">
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="ignoreUnresolvablePlaceholders" value="true"/>
            <property name="locations">
                <util:list>
                    <value>classpath:properties/application.properties</value>
                    <value>classpath:properties/application-dev.properties</value>
                </util:list>
            </property>
        </bean>
    </beans>
    <beans profile="sit">
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="ignoreUnresolvablePlaceholders" value="true"/>
            <property name="locations">
                <util:list>
                    <value>classpath:properties/application.properties</value>
                    <value>classpath:properties/application-sit.properties</value>
                </util:list>
            </property>
        </bean>
    </beans>
    <beans profile="uat">
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="ignoreUnresolvablePlaceholders" value="true"/>
            <property name="locations">
                <util:list>
                    <value>classpath:properties/application.properties</value>
                    <value>classpath:properties/application-uat.properties</value>
                </util:list>
            </property>
        </bean>
    </beans>
    <beans profile="production">
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="fileEncoding" value="UTF-8"/>
            <property name="ignoreUnresolvablePlaceholders" value="true"/>
            <property name="locations">
                <util:list>
                    <value>classpath:properties/application.properties</value>
                    <value>classpath:properties/application-production.properties</value>
                </util:list>
            </property>
        </bean>
    </beans>
</beans>


