<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="org.jfteam.ssm.web" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManagerFactoryBean">
        <mvc:message-converters>
            <ref bean="mappingJackson2HttpMessageConverter"/>
            <ref bean="stringHttpMessageConverter"/>
            <ref bean="byteArrayHttpMessageConverter"/>
            <ref bean="resourceHttpMessageConverter"/>
            <ref bean="sourceHttpMessageConverter"/>
            <ref bean="jaxb2RootElementHttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <util:list>
                <value>application/json;charset=UTF-8</value>
                <value>text/html;charset=UTF-8</value>
            </util:list>
        </property>
    </bean>
    <bean id="stringHttpMessageConverter" class="org.springframework.http.converter.StringHttpMessageConverter">
        <property name="supportedMediaTypes">
            <util:list>
                <value>application/json;charset=UTF-8</value>
                <value>text/html;charset=UTF-8</value>
            </util:list>
        </property>
    </bean>
    <bean id="byteArrayHttpMessageConverter" class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
    <bean id="resourceHttpMessageConverter" class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
    <bean id="sourceHttpMessageConverter" class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
    <bean id="jaxb2RootElementHttpMessageConverter" class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>

    <util:list id="messageConverters">
        <ref bean="mappingJackson2HttpMessageConverter"/>
        <ref bean="stringHttpMessageConverter"/>
        <ref bean="byteArrayHttpMessageConverter"/>
        <ref bean="resourceHttpMessageConverter"/>
        <ref bean="sourceHttpMessageConverter"/>
        <ref bean="jaxb2RootElementHttpMessageConverter"/>
    </util:list>

    <!--根据请求的后缀,进入不同的请求-->
    <bean id="contentNegotiationManagerFactoryBean"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="ignoreAcceptHeader" value="true"/>
        <property name="defaultContentType" value="application/json;charset=UTF-8"/>
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json"/>
                <entry key="html" value="text/html"/>
                <entry key="xml" value="application/xml"/>
            </map>
        </property>
    </bean>

    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/swagger-ui.html" location="classpath*:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath*:/META-INF/resources/webjars/"/>
    <mvc:resources mapping="/static/**" location="/static/"/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/swagger-ui.html"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/webjars/**"/>
            <mvc:exclude-mapping path="/v2/**"/>
            <ref bean="monitorInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/swagger-ui.html"/>
            <mvc:exclude-mapping path="/static/**"/>
            <mvc:exclude-mapping path="/webjars/**"/>
            <mvc:exclude-mapping path="/v2/**"/>
            <ref bean="securityInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--支持上传文件-->
    <bean id="commonsMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

    <!--统一异常解析器-->
    <bean id="globalHandlerExceptionResolver" class="org.jfteam.framework.web.GlobalHandlerExceptionResolver"/>

    <!--统一返回值注册器-->
    <bean id="globalReturnValueHandlerRegister" class="org.jfteam.framework.web.GlobalReturnValueHandlerRegister"/>

    <!--客户端工具-->
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="messageConverters" ref="messageConverters"/>
    </bean>
</beans>